torch==2.5.1                # PyTorch
numpy==1.24.4             # Numpy for numerical computations
scikit-learn==1.5.2        # scikit-learn for evaluation metrics and utilities
tqdm==4.67.1               # tqdm for progress bars
matplotlib==3.9.3          # For optional plotting
torchvision==0.20.1 
geomloss==0.2.6
POT==0.9.5
#transformers==4.41.2
# pip install -r requirements.txt
